main {
    text-align: center;
}

.box {
    max-width: 450px;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item {
    min-width: 75px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
}

#heading {
    background-color: #a3cfbb;
    color: white;
}

.ticked {
    text-decoration: line-through;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #a683e3;
    color: #fff;
    font-size: 30px;
    border-width: 0;
  }

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}
input:checked + p {
    text-decoration: line-through;
    text-decoration-color: #a683e3;
  }